---
import Section from "../Section.astro";
import { basics } from '@cv'

const { summary } = basics
---

<Section title="Objetivo">
    <p>{summary}</p>
</Section>

<style>
    p {
        font-size: .8rem;
        color: #555;
    }
</style>